html
    head
        title= titel
        meta(name='viewport' content='width=device-width; initial-scale=1.0;')
        script(src='/js/editRecipe.js').
        link(rel='stylesheet', href='/css/main.css')

    body
        div.container
            div.header(style='background-color: #eeeeee;')
                p Header
            div.navigation(style='background-color: #eeeeff;')
                p Navigation
            div.main(style='background-color: #eeeedd;')
                h2 Namn på receptet
                input#title(type='text' name='title' value=title)
                h2 Ingredienser
                div#ingredients
                    each ing, index in ingredients
                        div(id='ing-'+index class="ingredient")
                            input(type='text' name='amount' value=ing.amount)
                            input(type='text' name='unit' value=ing.unit)
                            input(type='text' name='product' value=ing.product)
                            button(onclick='removeIngredient(ing-' + index + ')') Ta bort
                button(onclick='addIngredient()') Lägg till ingrediens
                
                h2 Instruktioner
                div#instructions
                    each ins, index in instructions
                        div(id='ins-'+index class='instruction')
                            input(type='text' name='instruction' value=ins)
                            button(onclick='removeInstruction(ins-' + index + ')') Ta bort
                button(onclick='addInstruction()') Lägg till instruktion
                br
                br
                a(href='/recipe/' + url)
                    button Avbryt
                button(onclick='submitRecipe("' + id + '", "' + backendUrl +'")') Spara recept
            div.sidebar(style='background-color: #cceecc;')
                p Sidebar
            div.ads(style='background-color: #aaeebb;')
                p Ads
            div.footer(style='background-color: #eeeeaa;')
                p Footer
        