html
    head
        title= titel
    body
        a(href='/') Tillbaka till alla recept
        h1= titel
        h2 Ingredienser
        ul
            each ingrediens in ingredienser
                li #{ingrediens.antal} #{ingrediens.typ} #{ingrediens.vara}
        h2 Instruktioner
        ol
            each instruktion in instruktioner
                li= instruktion